/********************************************
*		Réalisé par : DOULADI Oussama	          
*		Date : 02/2020                            
********************************************

======= Sommaire =======
 1- Style général
 2- Barre de navigation
 3- Slider
 4- Elements de location
 5- Business Section
 6- Gallery
 7- Tweeter
 8- Next Project
 9- Google Maps
 10- Footer
 11- Page About
*/

/*===== 1- Style générale =====*/
:root{
    --firstcolor:#08526d;
    --secondcolor:#fd753c/*ec1c23*/;
}

.section-title {
	color:var(--secondcolor);
    font-size: 40px;
}

.line {
    width: 150px;
    background: #ddd;
    height: 2px;
    margin: auto
}

.line span {
    display: block;
    width: 100px;
    height: 4px;
    background-color: var(--firstcolor);
    margin: 1rem auto;
    bottom: 2px;
}

.fa.fa-home.blue{
    color: var(--firstcolor);
}

.fa.fa-home{
    font-size: 1.5rem;
}
.btn:hover{
	color: var(--secondcolor) !important;
}
.bs_btn {
    padding: 10px 20px;
    background: var(--firstcolor) !important;
    margin-bottom: 10px;
    border: 0;
    color:white !important;
}
.scrollTop {
    position: fixed;
    bottom: 37px;
    right: 15px;
    background: var(--secondcolor);
	border-radius:20%;
    color: #fff;
    width: 40px;
    height: 40px;
    z-index: 999;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    display: none
}

.mypic{
    width: 200px;
    height: 200px;
	border-radius:50%;
}

.imgBlanc{
    transform: rotate(180deg);
    top: -1px;
    left: 0;
}

.imgGray{
    left: 0;
    bottom: -50px;
    z-index: 2;
    transform: rotate(180deg);
}

/*===== 2- Barre de navigation =====*/
.topnav{
    background-color: var(--firstcolor);
    color:#fff;
    padding: .6rem;
}

ul.navbar-nav li:last-child{
    padding-right: 20px;
}

.bottomnav .logo{
    color: var(--firstcolor) !important;
}

.bottomnav{
	background:#fff;
}

.bottomnav .seclogo{
    color: var(--secondcolor);
}

.nav-link{
	font-weight:bold;
}

.clrNav{
	background:#ddd;
}

/*===== 3- Slider =====*/
#slider1 p:first-child{
    z-index: 2;
    top: 32%;
    left: 20%;
    font-size: 2rem;
    font-weight: 100;
    color: white;
}

#slider1 p:first-child span{
 
    color: var(--secondcolor);
    font-size: 1.2rem;
    font-weight: bold;
}

#slider1 .carouselOverlay{
    z-index: 1;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#slider1 .carouselOverlay p{
    line-height: 1.5;
    margin: 7.5rem;
}

@media (max-width: 768px) { 

    #slider1 .carouselOverlay p{
        font-size: 20px;
        margin: 3rem 3rem 4rem;
    }
}


/*===== 4- Elements de location =====*/

.item-image{
    height: 200px;
}
.item-image .etat{
    right: 0;
    top:0;
    font-size: 1.2rem;
    z-index: 2;
}
.item-image .price{
    left: 0;
    bottom:0;
    z-index: 2;
}
.image{
    height: 100%;
    background-size: cover;
    transition: transform .3s;
	background-position:center;
}
.item:hover .image{
    transform: scale(1.2) rotate(-4deg);
}
.item1 .image{
    background-image: url(../images/appartement.jpg);
}
.item2 .image{
    background-image: url(../images/appartement2.jpg);
}
.item3 .image{
    background-image: url(../images/maison.jpeg);
}
.item4 .image{
    background-image: url(../images/villa1.jpg);
}
.item5 .image{
    background-image: url(../images/villa2.jpg);
}
.item6 .image{
    background-image: url(../images/villalux.jpg);
}
.sup-info i{
    color: var(--firstcolor);
}

/*===== 5- Business Section=====*/
.business {
    background-image: url('../images/busnisse.jpg');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    position: relative;
    height: 250px;
    color: #fff;
    margin-bottom: 4rem;
}
.business .bs_info .bs_title {
    font-size: 35px;
    margin: 2rem 0 1rem;
}

.business .bs_info .bs_desc {
    width: 60%;
    margin: auto;
    font-size: 20px;
    color: #ddd;
    margin-bottom: 15px
}


@media (max-width:768px) {
    .business {
        height: 300px;
    }
    .business .bs_info .bs_title {
        font-size: 25px;
    }

    .business .bs_info .bs_desc {
        width: 80%; 
        font-size: 18px;
    }
}

/*===== 6- Gallery =====*/
.Gallery{
    margin: 3rem 0;
    
}


.Gallery .buttons {
    width: 70%;
    margin: auto;
    text-align: center;
    margin-bottom: 20px
}

.Gallery .buttons button,.Gallery .more {
    width: 150px;
    background: #333;
    color: #fff;
    border: 0;
    padding: 10px;
    outline: 0
}

.Gallery .Images > div {
    margin-bottom: 20px
}

.Gallery .Images > div img{
    width: 100%;
    height: 100%;
}

.Gallery .more {
    background: var(--firstcolor);
}

.active_btn {
    background: var(--firstcolor) !important;
}
/*===== 7- Tweeter (AboutPage*)=====*/
.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.6)
}

.tweet {
    background: #333;
    color: #fff;
    padding: 100px 0;
    position: relative;
}

.tweet .tweet-info i {
    font-size: 40px;
    margin-bottom: 10px
}

.tweet .tweet-info .tweet-info-desc{ 
    width: 60%;
    margin: auto;
    color: #ddd;
    margin-bottom: 10px
}
@media (max-width: 768px) { 

    .tweet .tweet-info .tweet-info-desc{ 
    width: 90%;
	}
}

.tweet .tweet-info .tweet-info-desc span {
    color: var(--secondcolor)
}

.tweet .tweet-info .tweet-info-text {
    font-style: italic;
    color: #ddd
}


/*===== 8- Next Project ======*/
.next {
    background: var(--secondcolor);
    padding: 3rem;
}

.next .next-desc {
    font-size: 25px;
    color: #fff;
    margin-top: 7px
}

.next .nextbtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Images img{
    filter: saturate(.1);
    transition: filter .3s;
}
.Images img:hover{
    filter: none;
}
@media (max-width:768px) {
    .next {
        text-align: center
    }
    *{
        font-size: 1.1rem;
    }

}


/*===== 9- Google Maps =====*/
.map{
    height: 300px;
}
/*===== 10- Footer =====*/
.footer .topfooter{
    background-color: var(--firstcolor);
    color: #fff;
}
.footer .bootomfooter{
    background-color: var(--secondcolor);
	font-size: 1.1rem;
}

/*===== 11- Page about =====*/
.white>a{
    color: white !important;
}
.white>a:hover>i{
    color: var(--secondcolor);
}
/*About Section*/
.about {
    background-color: #eaedf0;
	    padding-top: 5rem;
}

.about-item {
    text-align: center;
	padding-bottom:85px;
}
.about-item.border{
	padding-top:3%
}
.about-item:not(.border){
	padding-top:6%
}
.about-item .icon {
    color: var(--secondcolor);
}

.about-item-title {
    text-transform: capitalize;
    transition: color 0.5s;

} 

.about-item-desc {
    line-height: 1.6;
    color: #555555
}
/*Contact section*/
.contact{
    align-items: center;
    justify-content: center;
    margin: 2rem 0 5rem;
}
/*Media Screen*/
@media (max-width:768px) {
    .appeller , #date {
        display: none;
    }
    .about-item {
        padding: 50px 20px 20px;
    }
	.email,.bootomfooter p{
		font-size:15px;
	}
    .imgGray{
        bottom: -30px;
    }
}
